.cover {
	display: table;
	width: 100%;
		
	.cover-main {
		display: table-cell;
		vertical-align: middle;
		position: relative;
		z-index: 800;
		padding: 0 20px;
	}
	.cover-content {
		margin-top: -40px;
		// max-width: 640px;
		text-align: center;

		
		.cover-logo-image {
			border-radius: 50%;
			border: 4px solid #FFF;
			box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.15);
			margin-bottom: 8px;
			width: 100px;
		}

		.cover-title, .cover-title a {
			margin-bottom: 8px;
			&:hover {
				text-decoration: none;
			}
		}

		.cover-description {
			font-size: 16px;
			display: inline-block;
			outline: 1px;
			word-break: break-word;
			letter-spacing: -0.02em;
		}

		.cover-links {
			margin-bottom: 15px;

			.inlineList {
				display: inline-block;
				list-style-type: none;

				.inlineList-item {
					display: inline-block;
					margin: 0 1px 0 0;
					line-height: 1em;
					a.symbol, .symbol {
						font-size: 2em;
						color: $gray-darker;
						&:hover { color: darken($gray-darker, 15)}
					}
				}
			}
		}
		a.btn {
			display: inline-block;
		}
	}
}