/* 
   Post Header
   ========================================================================== */

.postHeader {
	// position: relative;
	margin: 0 auto;
	width: 100%;
	// height: 150px;
	background: $gray-darkest;
	transition: 0.5s;
	height: 100%;
	@media (min-width: $small-screen) {
		// height: auto;
	}
}

.postHeader-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	// @media (min-width: $small-screen) {
	// 	height: 378px;
	// }
	@media (min-width: $small-screen) {
		// height: 560px;
	}
}

// Added by JS
.bg-img {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-size: cover;
	background-position: 50% 50%;
	opacity: 0.6;

}

.bg-img img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	min-width: 100%;
	// height: 100%;
}

.postHeader-content {
	z-index: 1000;
	margin: 0 auto;
	padding: 0 1.25em;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 60%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.postHeader-content h1 {
	padding: 0 0 0.2em;
	color: #fff;
	font-weight: 800;
	font-size: 3.25em;
	margin: 0 auto;
}

.postHeader-content p {
	color: #fff;
	padding: 0 0 0.6em;
	font-weight: 300;
	font-size: 0.85em;
	margin: 0 auto;
}

.postHeader-content h1,
.postHeader-content p.subline {
	line-height: 1;
}

.postHeader-content p.subline {
	font-size: 1.75em;
}

/* 
   Post Wrapper
   ========================================================================== */

.post-wrapper {
	@media (min-width: $large-screen) {
		width: 700px;
	}
}

/* 
   Post Content
   ========================================================================== */

.postContent {
	padding-top: 60px;
	margin-bottom: 60px;

	.postContent-title {
		font-size: 3em;
		margin-top: 40px;
		margin-bottom: 8px;
		@media (max-width: $small-screen) {
			margin-top: 0px !important;
			font-size: 34px;
			line-height: 1.1;
		}
	}
	.postContent-body {
		margin-top: 20px;
		font-family: freight-text-pro, Georgia, Cambria, 'Times New Roman', Times, serif;

		p, ul, ol {
			font-size: 20px;
			font-weight: normal;
			font-style: normal;
			color: $gray-darkest;
		}
		h1, h2, h3, h4, h5, h6 {
			margin-bottom: 0.15em;
		}
		@media (min-width: $small-screen) {
			p {
				font-size: 22px;
			}

		}
	}
	.postContent-share {
		font-size: 30px;
		text-align: right;
	}
}

/* 
   Post Footer
   ========================================================================== */

.postFooter {
	@include outer-container;

	.postFooter-card {
		@include span-columns(12);
		padding: 0;

		a {
			font-weight: normal;
			color: $gray-darker;
			&:hover {
				color: $gray-darkest;
			}
		}
		.bucket-content {
			margin-top: 15px;
			margin-bottom: 30px;
			&--padded {
				padding-left: 90px;
			}
		}
		.author-image {
			margin-top: 15px;
			margin-left: 10px;
			width: 60px;
			height: 60px;
			float: left;
			background-size: cover;
			border-radius: 100%;
		}
		.author-name a {
			font-weight: bold;
			margin-bottom: 3px;
		}
		.author-bio {
			font-size: 0.9em;
			line-height: 1.1;
			font-weight: lighter;
		}
		hr {
			padding: 0;
			display: block;
			width: 25%;
			margin: 16px 0;
			border: 0px solid #dddddd;
			border-top: 1px solid #dddddd;
		}
		.published {
			color: $gray-dark;
			font-size: 0.9em;
		}
	}


	@media (min-width: $medium-screen) {
		.postFooter-card {
			@include span-columns(6);
		}
	}



}

