// Colors
$blue: #477DCA;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Grays
$gray-lightest:     #F8F8F8;
$gray-lighter:      #EEEEEE;
$gray-light:        #DDDDDD;
$gray:              #CCCCCC;
$gray-dark:         #999999;
$gray-darker:       #666666;
$gray-darkest:      #333333;

$green: #57ad68;

// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: $gray-darkest;
$base-accent-color: $blue;

// Link Colors
$base-link-color: $base-font-color;
$hover-link-color: darken($base-font-color, 20);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $gray-light;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
